* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: .5em;
    margin: 0;
	background: #eee;
	font-family: monospace;
	font-size: 1.2em;
}

.hidden {
    display: none!important;
}

.symbol {
    font-family: 'Noto Color Emoji', serif;
}

#toolbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 0 0 auto;
    padding-bottom: .5em;
}

#toolbar button {
    margin-right: .25em;
}

#toolbar span, #toolbar a {
    align-self: center;
    margin-left: .25em;
    margin-right: 1em;
}

.spacer {
    flex-grow: 1;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 1.4em;
    align-self: center;
}

#columns-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    overflow: hidden;
}

#columns-container > * {
    flex-basis: 0;
    margin: 0;
    overflow: auto;
}

#columns-container > :nth-child(2) {
    margin: 0 .5em;
}

#stages {
    flex-grow: 0;
    flex-basis: 15em;
    background-color: white;
}

#stages ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#stages ul li a {
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 2em;
}

#stages ul li a,
#stages ul li a:hover,
#stages ul li a:active,
#stages ul li a:visited {
    color: black;
    text-decoration: none;
}

#stages ul li a::before {
    content: "✔️";
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .4em;
    border-radius: 50%;
    line-height: 1em;
    text-align: center;
    z-index: 2;
    background-color: #5dd496;
}

#stages ul li.selected a {
    background-color: #ddd;
}

#stages ul li.done a::before,
#stages ul li.working a::before {
    visibility: visible;
}

#stages ul li.working a::before {
    content: "🗘";
    background-color: #ffd900;
}

#stages ul li.done + .done a::after,
#stages ul li.done + .working a::after {
    content: " ";
    display: inline-block;
    position: absolute;
    left: .4em;
    top: -1em;
    width: .25em;
    height: 2em;
    margin-left: .2em;
    margin-right: .4em;
    text-align: center;
    z-index: 1;
    background-color: #5dd496;
}

#stages ul li.done + .working a::after {
    background-color: #ffd900;
}

#stages ul li a:hover {
    background-color: #b4ebff;
}

#submissions {
    flex-grow: 4;
    position: relative;
    background-color: white;
}

#submissions table {
    /*border-collapse: collapse;*/
}

#submissions thead {
    background: #ddd;
}

#submissions th, #submissions td {
    border: none;
}

#submissions tbody tr.submission-row:nth-child(2n) {
    background-color: #e6e6e6;
}

#submissions .problem-row h4 {
    padding: 0;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
    position: relative;
}

#submissions .problem-row h4 .resolve-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.75em;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: .9em;
    font-weight: bold;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
}

#submissions .problem-row pre {
    display: block;
    width: 0;
    padding: 0;
    margin: 0;
    margin-top: .25em;
    margin-bottom: .5em;
}

#submissions td:first-child input[type=checkbox] {
    display: block;
    width: 1.2em;
    height: 1em;
    padding: 0;
    margin: 0;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#submissions td:first-child input[type=checkbox]::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid black;
}

#submissions td:first-child input[type=checkbox]:checked::before {
    transform: translate(-50%, -50%) rotate(135deg);
}

.bg-exception {
    background-color: #f5627f;
}

.bg-not-submitted {
    background-color: #f5abb9;
}

.bg-invalid-submission-file {
    background-color: #ccc;
}

.bg-plagiarized {
    background-color: #ffd97f;
}

.bg-compilation-error {
    background-color: #5dd496;
}

.bg-test-suite-failure {
    background-color: #52d1ff;
}

.bg-test-failure {
    background-color: #b4ebff;
}

/*
#submissions thead tr:first-child th:nth-child(2),
#submissions td:nth-child(2) {
    background-color: #ccc;
}
*/

#submissions .submissions-error {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.35em;
}

#submissions .submissions-error > :first-child {
    font-size: 2em;
}

#submissions .submissions-error > :nth-child(2) {
    margin-top: 1em;
}

#terminal {
    word-break: break-all;
    flex-grow: 3;
    padding: 1em;
    background-color: #666666;
    color: white;
}

.curtain {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    z-index: 9;
    background: #ddd;
    transition: transform .125s cubic-bezier(.86,0,.07,1);
}

.curtain.up {
    transform: translateY(0);
}
